/* Reset
------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    background: #ffffff;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
}

ol, ul {
    list-style: none;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 10px;
    color: #111111;
}

a, img {
    outline: none;
    border: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    margin: 0 0 10px;
    line-height: 1.4em;
    font-size: 1.2em;
}

img {
    display: block;
    margin-bottom: 10px;
}

aside {
    font-style: italic;
    font-size: 0.9em;
}

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

/* Structure */
#wrapper {
    width: 100%;
}

header {
    width: 100%;
    padding-bottom: 10px;
}

.content {
    max-width: 920px;
    clear: both;
    margin: 0 auto 10px;
    padding: 5px;
}

article {
    width: 100%;
    padding: 2px;
    float: left;
    position: relative;
    text-align: justify;
}

article h1 {
    display: inline;
}

article img {
    width: 100%;
}

h3.subheading {
    text-align: justify;
}

footer {

    padding: 2em 0 2em 0;
    bottom: 0;
    clear: both;
    background: #d41c1b;
    color: #fff;

}

/* Media Queries */
@media screen and (max-width: 759px) {

    article {
        width: 98%;
        position: absolute;
    }

    .content {
        height: 300px;
    }
}
